[Unit]
Description=Closes the current trade session
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --rm \
    --env-file /opt/fs-dash/env \
    postgres:alpine \
    psql -c CALL\x20trades_close_session()
