body > main.auctions {

	.open-orders {
		flex: 1;

		@media screen and (max-width: $mobile-breakpoint) {
			flex: 0;
		}
	}

	.my-operations {
		flex: 0.9;

		tbody i {
			font-size: 18px;
			vertical-align: -4px;
		}

		@media screen and (max-width: $mobile-breakpoint) {
			order: -1;
			flex: 0;
		}
	}

	.orders-list {
		[data-timer] {
			visibility: hidden;

			i {
				font-size: 18px;
				vertical-align: -4px;
			}
		}

		form {
			padding-left: 6px;

			button {
				padding: 0;
				margin: 0;
				background: transparent;

				i {
					font-size: 16px;
				}
			}
		}

		tr.delayed td > *:not(form) {
			opacity: .5;
		}

		tr.matched [data-timer] {
			color: #ABD473;
		}
	}

	.order-form {
		max-width: 400px;

		@media screen and (max-width: $mobile-breakpoint) {
			max-width: unset;
		}

		*[disabled]:not(input) {
			opacity: 0.7;
		}

		.qte-price {
			display: flex;
			align-items: flex-end;

			span {
				display: flex;
				margin: 16px 0;
				height: 33px;
				align-items: center;
			}

			input {
				min-width: unset;
			}
		}

		dd.radio {
			margin: 8px 0;

			input {
				margin-top: 0;
			}

			& + p {
				font-size: 12px;
				color: #aaa;
			}
		}
	}

	.pending-matches {
		flex: 1;
		max-width: 1200px;

		@media screen and (max-width: $mobile-breakpoint) {
			flex: 0;
		}

		form {
			display: inline-block;

			i {
				font-size: 18px;
			}

			&:nth-of-type(1) {
				i {
					color: #ABD473;
				}
			}

			&:nth-of-type(2) {
				i {
					color: #C41F3B;
				}
			}
		}
	}

	.item-orders {
		flex: 1;
		max-width: 700px;

		@media screen and (max-width: $mobile-breakpoint) {
			flex: 0;
		}
	}
}
