body > main.dkp {
	.accounts {
		flex: 1;

		main {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;
			padding-bottom: 0;

			& > * {
				width: 12.5%;
				min-width: 180px;
			}
		}
	}

	.accounts-group {
		margin-bottom: 8px;
	}

	.account a {
		display: flex;
		align-items: center;
		padding: 6px;
		border: 1px solid #ffffff10;
		margin: 4px;

		span.label {
			margin-right: 8px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			flex: 1;
			min-width: 50px;
			align-self: stretch;
			contain: size;
			display: flex;
			align-items: center;
		}

		i.material-icons {
			opacity: .5;
			font-size: 14px;
			vertical-align: middle;
			border-radius: 100%;
			padding: 3px;
			margin-right: 8px;
		}

		.amount {
			white-space: nowrap;
			font-family: "SF Pro Display", sans-serif;
			text-align: right;
			display: flex;
			align-items: center;

			.fractional {
				display: none;
			}

			.dkp {
				min-width: 26px;
			}
		}

		.minimum-bid {
			font-size: 10px;
			opacity: 0.5;
			font-weight: 300;
			margin-right: 5px;
			font-variant-numeric: tabular-nums;

			&::before {
				content: "(";
				margin-right: 1px;
			}

			&::after {
				content: ")";
				margin-left: 1px;
			}
		}
	}

	.operations {
		nav {
			display: flex;
			flex-direction: column;

			a {
				padding: 8px;
				white-space: nowrap;

				&:hover {
					background-color: #ffffff05;
				}

				i {
					margin-right: 8px;
				}
			}
		}
	}
}

body > main.dkp-transaction {
	max-width: 1700px;

	.transaction-details {
		max-width: 1200px;
		width: 100%;
	}

	.add-movement {
		flex: 1;
	}
}

body > main.dkp-account {
	.account-details {
		max-width: 1200px;
		flex: 1;

		header input.datepicker {
			background: none;
			border: 0;
			font-family: "SF Pro Display", sans-serif;
			font-size: 14px;
			font-weight: 500;
			text-align: right;
			color: #eee;
			width: 200px;
			opacity: .5;
			outline: 0;
		}

		i.has-details, td>i {
			font-size: 14px;
			vertical-align: middle;
			margin-left: 8px;
			opacity: .5;
		}

		tr.hold {
			font-style: italic;

			td:nth-child(2) {
				color: #848484;
				font-weight: 400;
			}
		}

		tr.details table {
			width: 100%;
			border-collapse: collapse;

			tr:first-child {
				height: 1em;
			}

			th, td {
				padding: 0 24px 4px 8px;
				vertical-align: top;
				white-space: nowrap;
				font-weight: 300;
			}

			th {
				opacity: .5;
				padding-right: 8px;
			}

			td.id {
				font-family: "SF Compact Text", sans-serif;
			}

			th {
				text-align: right;
			}

			th:first-child {
				width: 1%;
			}

			td.text {
				width: 100%;
			}
		}
	}
}
