@(days: List[List[CalendarController.Day]], thisMonth: String, prevMonth: String, nextMonth: String)(implicit request: DashRequest[_])

@layout.main("calendar") {
	<article class="calendar">
		<header>
			<h3 style="flex: unset">Calendar</h3>
			<div>
				<a href="@routes.CalendarController.index(prevMonth)" style="margin-left: 30px;"><i class="material-icons">chevron_left</i></a>
				<span style="display: inline-block; width: 130px; text-align: center;">@thisMonth</span>
				<a href="@routes.CalendarController.index(nextMonth)"><i class="material-icons">chevron_right</i></a>
			</div>
		</header>
		<div class="table-container">
			<table>
				<thead>
					<tr>
					@for(day <- List("Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche")) {
						<th>@day</th>
					}
					</tr>
				</thead>
				<tbody>
				@for(week <- days) {
					<tr class="no-hover">
					@for(day <- week) {
						<td class="day-cell @if(day.isSameMonth) { same-month } @if(day.isToday) { today }">
							<div class="day">
								<div class="day-head">
									<h4>@day.dayOfMonth</h4>
									<div class="day-actions">
										<a href="@routes.CalendarController.createNote(day.dateString)"><i class="material-icons">error_outline</i></a>
										<a href="@routes.CalendarController.createEvent(day.dateString)"><i class="material-icons">add_circle_outline</i></a>
									</div>
								</div>
								<div class="day-events">
								@for(event <- day.events) {
									<div class="event @if(event.isNote) { note }">
										<a href="@routes.CalendarController.event(event.id)" class="event-info">
											<span class="event-time">@if(event.isNote) { <i class="material-icons">priority_high</i> } else { @event.time }</span>
											<span class="event-label">@event.label</span>
										</a>
										@if(!event.isNote) {
											<span class="event-actions">
												<a href=""><i class="material-icons">done</i></a>
												<a href=""><i class="material-icons">clear</i></a>
											</span>
										}
									</div>
								}
								</div>
							</div>
						</td>
					}
					</tr>
				}
				</tbody>
			</table>
		</div>
	</article>
}
