@(item: WowItem, accounts: Seq[model.dkp.Account], orders: Seq[AuctionsController.ItemOrder], limits: model.auctions.RollingLimit, tradeTax: Double)(implicit request: DashRequest[_])

@layout.main("auctions") {
	<article class="item-orders">
		<header>
			<h3>
				<span class="wh-medium-border" style="margin-right: 8px;"><img src="@item.mediumIconUrl"/></span>
				@if(item.id > 0) {
					<a href="https://classic.wowhead.com/item=@item.id" data-wowhead="" class="q@item.quality">@item.name</a>
				} else {
					@item.name
				}
			</h3>
			<a href=""><i class="material-icons">refresh</i></a>
		</header>
		<div class="table-container">
			<table class="tabular orders-list">
				<thead>
					<tr>
						<th colspan="4" class="border-right"></th>
						<th colspan="2" class="center border-left border-right">Prix unit.</th>
						<th class="border-left"></th>
					</tr>
					<tr>
						<th>Joueur</th>
						<th class="fit"><!-- Timers --></th>
						<th class="right fit">Quantité</th>
						<th class="fit border-right"></th>
						<th class="right border-left fit">Vente</th>
						<th class="right border-right fit">Achat</th>
						<th class="fit border-left"><!-- Actions --></th>
					</tr>
				</thead>
				<tbody>
					@for(order <- orders) {
						<tr class="@order.kind @order.cssClass">
							<td style="color: #@order.userColor">@order.userName</td>
							<td class="right">@order.timer</td>
							<td class="right"><span>@order.remaining</span></td>
							<td><span>×</span></td>
							<td class="right">@order.askPrice</td>
							<td class="right">@order.bidPrice</td>
							<td>
							@if(order.isMine) {
								<form method="post" action="@routes.AuctionsController.closeOrder(item.id, order.id)">
									@helper.CSRF.formField
									<button><i class="material-icons">close</i></button>
								</form>
							}
							</td>
						</tr>
					}
					@if(orders.isEmpty) {
						<tr class="no-hover">
							<td colspan="7" style="padding: 24px">Aucune offre n'est disponible pour cet objet.</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</article>
	<article class="order-form">
		<header>
			<h3>Ajouter une nouvelle offre</h3>
		</header>
		<form method="post" action="@routes.AuctionsController.itemPost(item.id)">
			@helper.CSRF.formField
			<div class="button-toggles">
				<label>
					<input type="radio" id="kind-ask" name="kind" value="bid" />
					<span>Acheter</span>
				</label>
				@if(!request.user.isTrial) {
					<label>
						<input type="radio" id="kind-ask" name="kind" value="ask" />
						<span>Vendre</span>
					</label>
				}
			</div>
			@if(accounts.size > 1) {
				<dl disabled>
					<dt><label>Compte</label></dt>
					<dd>
						<select name="account" disabled>
						@for(account <- accounts) {
							<option value="@account.id" data-withdraw-limit="@account.withdrawLimit" style="color: #@account.color">
								@account.label (@account.available DKP)
							</option>
						}
						</select>
					</dd>
				</dl>
			} else {
				<input type="hidden" name="account" value="@accounts.head.id" data-withdraw-limit="@accounts.head.withdrawLimit" />
			}
			@if(request.user.isOfficer) {
				<dl disabled>
					<dd><label><input type="checkbox" name="guild-order" value="1" disabled/> Ordre de guilde</label></dd>
				</dl>
			}
			<div class="qte-price" disabled>
				<dl>
					<dt><label for="">Quantité</label></dt>
					<dd><input name="quantity" type="text" cleave="count" disabled/></dd>
				</dl>
				<span>×</span>
				<dl>
					<dt><label for="">Prix unit.</label></dt>
					<dd><input name="price" type="text" cleave="dkp-positive" disabled/></dd>
				</dl>
			</div>
			<article class="warning" style="margin: 0 16px 24px 16px; padding: 8px; font-size: 12px; display: none; white-space: pre-wrap"></article>
			<article class="error" style="margin: 0 16px 24px 16px; padding: 8px; font-size: 12px; display: none; white-space: pre-line"></article>
			<dl disabled>
				<dt><label>Délai avant exécution</label></dt>
				<dd class="radio">
					<label style="flex: 1.3"><input type="radio" name="delay" value="0" checked disabled/> Immédiat</label>
					<label><input type="radio" name="delay" value="1" disabled/> 1 jour</label>
					<label><input type="radio" name="delay" value="2" disabled/> 2 jours</label>
					<label><input type="radio" name="delay" value="3" disabled/> 3 jours</label>
				</dd>
				<p>Si vous spécifiez un délai, l'offre sera visible immédiatemment mais ne sera pas exécutée avant la fin du délai.</p>
			</dl>
			<div class="actions">
				<button id="item-create-button" disabled="disabled">Envoyer</button>
			</div>
		</form>
	</article>
	<script>
		var askAvailable = @limits.askAvailable.value;
		var askBurstable = @limits.askBurstable;
		var bidAvailable = @limits.bidAvailable.value;
		var bidBurstable = @limits.bidBurstable;
		var tradeTax = @tradeTax;
		var bids = [@orders.filter(o => o.order.kind == "bid").map(_.order.price.value / 100.0).distinct.mkString(", ")];
		var asks = [@orders.filter(o => o.order.kind == "ask").map(_.order.price.value / 100.0).distinct.mkString(", ")];
	</script>
	<script src="@routes.Assets.versioned("javascripts/dash-auctions.js")" defer></script>
}
