@(bounties: Seq[(model.bounties.Bounty, Seq[model.bounties.Objective])])(implicit request: DashRequest[_])

@layout.main("bounties") {
	@for((bounty, objectives) <- bounties) {
		<article>
			<header>
				<h3>
					<i class="material-icons">priority_high</i>
					@bounty.title
				</h3>
			</header>
			<main>
				<div>@Html(bounty.html)</div>
			</main>
			<main class="objectives">
				<ul>
				@for(objective <- objectives) {
					<li class="objective @if(objective.completed) { completed }">
						<div class="details">
							@if(objective.item.isDefined) {
								<span class="item">@objective.itemLink</span>
							} else {
								<span class="label">@objective.label</span>
							}
							<span class="progress">
							@if(objective.showPercentage) {
								@if(objective.count.isDefined) {
									@objective.progressPercent%
								}
							} else {
								@objective.progress / @objective.count.getOrElse("∞")
							}
							</span>
						</div>
						@if(objective.count.isDefined) {
							<div class="progress-bar">
								<div class="inner" style="width: @objective.progressPercent%;"></div>
							</div>
						}
					</li>
				}
				</ul>
			</main>
		</article>
	}

	@if(request.user.isOfficer) {
		<article>
			<a href=""><i class="material-icons">add</i></a>
		</article>
	}
}
