@(clazz: String = null)(body: Html)(implicit request: DashRequest[_])

@menuItem(path: play.api.mvc.Call, icon: String, label: String = null, secure: Boolean = true) = {
@if(!secure || request.authenticated) {
    <li @if(request.path.startsWith(path.url)) {
        class="active" }>
        <a href="@path"><i class="material-icons">@icon</i>@if(label != null) {
            <span>@label</span>
        }</a>
    </li>
}
}

<link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/favicon-16x16.png")">
<link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.versioned("images/favicon-32x32.png")">
<link rel="icon" type="image/png" sizes="96x96" href="@routes.Assets.versioned("images/favicon-96x96.png")">
<link rel="icon" type="image/png" sizes="192x192" href="@routes.Assets.versioned("images/app-icon.png")">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

<title>From Scratch</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="@routes.Assets.versioned("stylesheets/dash.css")" rel="stylesheet">
<link href="@routes.Assets.versioned("fonts/stylesheet.css")" rel="stylesheet">

<script>var whTooltips = { colorLinks: true, iconizeLinks: true, renameLinks: true };</script>
<script src="https://wow.zamimg.com/widgets/power.js" defer></script>

<script src="@routes.Assets.versioned("javascripts/jquery.min.js")" defer></script>
<script src="@routes.Assets.versioned("javascripts/autosize.min.js")" defer></script>
<script src="@routes.Assets.versioned("javascripts/selectize.min.js")" defer></script>
<script src="@routes.Assets.versioned("javascripts/cleave.min.js")" defer></script>
<script src="@routes.Assets.versioned("javascripts/dash.js")" defer></script>

<header>
    <h1>Dash</h1>
    <nav>
        <ul>
					@menuItem(routes.CharterController.index, "gavel", "Charte", secure = false)
					@*
					@menuItem(routes.BountiesController.index, "priority_high", "Bounties")
					@menuItem(routes.DkpController.index, "assignment_ind", "Kill on Sight")
					*@
					@menuItem(routes.TradesController.index, "swap_horizontal_circle", "Trades")
					<!--@menuItem(routes.AuctionsController.index, "swap_horizontal_circle", "Auctions")-->
					@menuItem(routes.DkpController.index, "account_balance", "DKP")
					@*
					@menuItem("/calendar", "event", "Calendar")
						@menuItem("/roster", "supervisor_account", "Roster")
						@menuItem("/dashboard", "apps")
            @menuItem("/import", "cloud_upload")
            *@
        </ul>
    </nav>
    @if(request.authenticated) {
        <div class="user">
            @if(request.user.avatar.isDefined) {
                <img src="https://cdn.discordapp.com/avatars/@request.user.id/@{
                    request.user.avatar.get
                }.png?size=128">
            }
            <span style="color: #@request.user.color">@request.user.username</span>
            <a href="@routes.LoginController.logout()"><i class="material-icons">close</i></a>
        </div>
    } else {
        <a class="auth" href="@request.authLink"><i class="material-icons">security</i></a>
    }
</header>

@if(clazz != null) {
    <main class="@clazz">@body</main>
} else {
    <main>@body</main>
}

