@import model.dkp.{Account, DkpAmount, Hold}
@(account: Account, movements: Seq[DkpController.DetailedMovement], balance: DkpAmount, holds: Seq[Hold], hasAccess: Boolean, accounts: Seq[(String, String)], tradeTax: Double, previous: Long, next: Long, month:String, addMovementForm: Form[DkpController.AddMovement], sendAmountForm: Form[DkpController.SendAmount])(implicit request: DashRequest[_], messagesProvider: MessagesProvider)

@layout.main("dkp-account") {
    <article class="account-details">
        <header>
            <h3>@account.label <span class="id">#@account.id</span></h3>
            <div>
                <a href="@routes.DkpController.account(account.id, Some(previous))"><i class="material-icons">chevron_left</i></a>@month
                <a href="@routes.DkpController.account(account.id, Some(next))"><i class="material-icons">chevron_right</i></a>
            </div>
        </header>
        <div class="table-container">
            <table class="tabular">
                <thead>
                    <tr>
                        <th class="fit"></th>
                        <th class="fit">Date</th>
                        <th style="width: 17%;">Transaction</th>
                        <th style="width: 30%">Label</th>
                        <th class="center">Item</th>
                        <th class="right">Débit</th>
                        <th class="right">Crédit</th>
                        <th class="right">Solde</th>
                    </tr>
                </thead>
                <tbody class="with-details">
                    @for(DkpController.DetailedMovement(movement, transaction, author) <- movements) {
                        <tr>
                            <td class="details-toggle">
                                <i class="material-icons show">keyboard_arrow_right</i>
                                <i class="material-icons hide">keyboard_arrow_down</i>
                            </td>
                            <td>@movement.humanDate</td>
                            <td>
                            @transaction.map { t =>
                                <a href="@routes.DkpController.transaction(t.id)" class="link">
                                @t.label
                                </a>
                            }
                            </td>
                            <td>
                                @movement.label
                                @if(!movement.details.isBlank) {
                                    <i class="material-icons has-details" title="Des détails sont disponibles pour ce mouvement">short_text</i>
                                }
                            </td>
                            <td class="center">@movement.itemLink</td>
                            <td class="right">
                            @if(movement.amount.value < 0) {
                                @movement.amount.abs
                            }
                            </td>
                            <td class="right">
                            @if(movement.amount.value > 0) {
                                @movement.amount.abs
                            }
                            </td>
                            <td class="right">@movement.balance</td>
                        </tr>
                        <tr class="details">
                            <td colspan="8">
                                <table class="inner">
                                    <tr>
                                        <th>Mouvement</th>
                                        <td class="id">@movement.id</td>
                                        <th>Auteur</th>
                                        <td>@author.map(a => a.username).getOrElse("–")</td>
                                        <th>Détails</th>
                                        <td rowspan="2" class="text">
                                        @if(movement.details.isBlank) {
                                            –
                                        } else {
                                            <p>@movement.details.trim</p>
                                        }
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Transaction</th>
                                        <td class="id">@transaction.map(_.id.toString).getOrElse("–")</td>
                                        <th>Item</th>
                                        <td>
                                        @if(movement.item.isEmpty) {
                                            –
                                        } else {
                                            @movement.itemLink
                                        }
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                    @if(movements.isEmpty) {
                        <tr class="unclickable">
                            <td colspan="8">
                                Aucun mouvement sur la période.
                            </td>
                        </tr>
												<tr></tr>
                    }
										@for(hold <- holds) {
											<tr class="hold unclickable">
												<td><i class="material-icons show">update</i></td>
												<td>En attente</td>
												<td></td>
												<td>@hold.label</td>
												<td></td>
												<td class="right">@hold.amount</td>
												<td colspan="2"></td>
											</tr>
											<tr></tr>
										}
								</tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="right">Total des mouvements</th>
                        <td class="right">@movements.map(m => m.movement).filter(m => m.amount.value < 0).map(m => m.amount).sum.abs</td>
                        <td class="right">@movements.map(m => m.movement).filter(m => m.amount.value > 0).map(m => m.amount).sum.abs</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="5" class="right">Solde final</th>
                        <td colspan="3" class="right">@balance</td>
                    </tr>
										@if(holds.nonEmpty) {
											<tr>
													<th colspan="5" class="right">En attente</th>
													<td class="right">@holds.map(_.amount).sum</td>
													<td colspan="2"></td>
											</tr>
											<tr>
													<th colspan="5" class="right">Solde disponible</th>
													<td colspan="3" class="right">@{balance - holds.map(_.amount).sum}</td>
											</tr>
                    }
                </tfoot>
            </table>
        </div>
    </article>
		@if(hasAccess) {
			<article class="send-amount">
				<header>
					<h3>Envoyer des DKPs</h3>
				</header>
				@helper.form(action = routes.DkpController.sendAmount(account.id)) {
					@helper.CSRF.formField
					@helper.select(sendAmountForm("Destinataire"), accounts, Symbol("class") -> "selectize")
					@helper.textarea(sendAmountForm("Détails"))
					@helper.inputText(sendAmountForm("Montant"), Symbol("cleave") -> "dkp-positive")
					<article class="warning" style="margin: 0 16px 24px 16px;
						padding: 8px;
						font-size: 12px;
						display: none;
						white-space: pre-wrap"></article>
					<article class="error" style="margin: 0 16px 24px 16px;
						padding: 8px;
						font-size: 12px;
						display: none;
						white-space: pre-line"></article>
					<div class="actions">
						<button type="submit" disabled>Envoyer</button>
					</div>
					<script>
						var tradeTax = @tradeTax;
						var tradeAvailable = @{(balance - holds.map(_.amount).sum).value};
					</script>
					<script src="@routes.Assets.versioned("javascripts/dash-dkp-account.js")" defer></script>
				}
			</article>
		}
		@if(request.user.isOfficer) {
			<article class="add-movement">
				<header>
					<h3>Ajouter un mouvement</h3>
				</header>
				@helper.form(action = routes.DkpController.createMovement(None, Some(account.id))) {
					@helper.CSRF.formField
					@helper.inputText(addMovementForm("label"), Symbol("maxlength") -> 30)
					@helper.textarea(addMovementForm("details"))
					@helper.inputText(addMovementForm("amount"), Symbol("cleave") -> "dkp")
					@helper.inputText(addMovementForm("item"), Symbol("cleave") -> "item")
					<div class="actions">
						<button type="submit">Ajouter</button>
					</div>
				}
			</article>
		}
}
