@()(implicit request: DashRequest[_])

@layout.main("dkp-batch") {
	<article>
		<header>
			<h3>Batch processing</h3>
		</header>
		<form>
			<dl>
				<dt><label for="transaction">Transaction</label></dt>
				<dd>
					<select id="transaction" class="selectize">
						<option value=""></option>
						<option value="238406805951302656">Amaelle</option>
						<option value="238030945693393921">Blash</option>
						<option value="238282779246894080">Test*</option>
					</select>
				</dd>
			</dl>
			<dl>
				<dt><label for="label">Label</label></dt>
				<dd>
					<input id="label" type="text"/>
				</dd>
			</dl>
			<dl>
				<dt><label for="details">Détails</label></dt>
				<dd>
					<textarea id="details"></textarea>
				</dd>
			</dl>
			<div class="actions">
				<button>Valider</button>
			</div>
		</form>
	</article>
	<article style="flex: 1">
		<header>
			<h3>Attributions</h3>
		</header>
		<div class="table-container">
			<table>
				<thead>
					<tr>
						<th><div>Blash</div></th>
						<th><div>Amaelle</div></th>
						<th class="padding"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td class="padding"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</article>
	<div class="modal" style="display: none">
		<div class="image-container"></div>
		<article class="panel">
			<form>
				<dl id="accounts_field">
					<dt><label for="accounts">accounts</label></dt>
					<dd>
						<select id="accounts" name="accounts[]" multiple="true">
							<option value="238406805951302656">Amaelle</option>
							<option value="238030945693393921">Blash</option>
							<option value="238282779246894080">Test*</option>
						</select>
					</dd>
				</dl>
				<div class="actions">
					<button>Valider</button>
				</div>
			</form>
		</article>
	</div>
	<article class="warning toast" style="display: none;"></article>
	<script>
		var processUrl = '@routes.DkpBatchController.batchProcess("")';
	</script>
	<script src="@routes.Assets.versioned("javascripts/dash-dkp-batch.js")" defer></script>
}
