@(createTransactionForm: Form[DkpController.CreateTransaction])(implicit request: DashRequest[_], messagesProvider: MessagesProvider)

@import helper._

@layout.main("dkp-create-account") {
    <article>
        <header>
            <h3>Nouvelle transaction</h3>
        </header>
        @helper.form(action = routes.DkpController.createTransactionPost()) {
            @CSRF.formField
            @helper.inputText(createTransactionForm("label"), 'autofocus -> true, 'maxlength -> 30)
            @helper.textarea(createTransactionForm("details"))
            <div class="actions">
                <button type="submit">Créer</button>
            </div>
        }
    </article>
}
