@import model.dkp.{Account, AccountAccess, DkpAmount, Transaction}
@(rosterAccounts: Seq[Seq[Account]], rosterCount: Int, casualAccounts: Seq[Seq[Account]], casualCount: Int, count: Int, total: DkpAmount, mines: Seq[(Account, AccountAccess)], transactions: Seq[Transaction])(implicit request: DashRequest[_])

@layout.main("dkp") {
	<meta http-equiv="refresh" content="60" />
	<div style="flex: 1;">
		<article class="accounts">
			<header>
				<h3>Members</h3>
				Nombre: <span class="capsule" style="margin-left: 4px; margin-right: 8px;">@rosterCount / @count</span>
				Total: <span class="capsule" style="margin-left: 4px;">@total</span>
				@if(request.user.isOfficer) {
					<a href="@routes.DkpController.manage()">
					<i class="material-icons" style="margin-left: 8px;">settings_applications</i></a>
				}
			</header>
			<main>
				@for(group <- rosterAccounts) {
					<div class="accounts-group">
					@for(account <- group) {
						<div class="account">
							<a href="@routes.DkpController.account(account.id)">
								<span class="label" @if(account.color.isDefined) {
									style="color: #@account.color.get" }>
								@account.label
								</span>
								<div class="amount">
									<span class="minimum-bid">@account.minimumBid</span>
									@account.available.html
								</div>
							</a>
						</div>
					}
					</div>
				}
			</main>
		</article>
		<article class="accounts">
			<header>
				<h3>Casuals</h3>
				Nombre: <span class="capsule" style="margin-left: 4px;">@casualCount</span>
			</header>
			<main>
				@for(group <- casualAccounts) {
					<div class="accounts-group">
					@for(account <- group) {
						<div class="account">
							<a href="@routes.DkpController.account(account.id)">
								<span class="label" @if(account.color.isDefined) {
									style="color: #@account.color.get" }>
								@account.label
								</span>
								<div class="amount">
									<span class="minimum-bid">@account.minimumBid</span>
									@account.available.html
								</div>
							</a>
						</div>
					}
					</div>
				}
			</main>
		</article>
	</div>

	<div style="min-width: 300px;">
		<article>
			<header>
				<h3>Mes comptes</h3>
			</header>
			<main>
				@for((account, access) <- mines) {
					<div class="account">
						<a href="@routes.DkpController.account(account.id)">
							<span class="label" @if(account.color.isDefined) {
								style="color: #@account.color.get" }>
							@account.label
							</span>
							@if(access.main) {
								<i class="material-icons">star</i>
							}
							<div class="amount">
							@account.available.html
							</div>
						</a>
					</div>
				}
			</main>
		</article>

		<article>
			<header>
				<h3>Dernières transactions</h3>
			</header>
			<table>
				<tbody>
				@for(t <- transactions) {
					<tr>
						<td>
							<a href="@routes.DkpController.transaction(t.id)">
							@t.label
							</a>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</article>

		@if(request.authenticated && request.user.isOfficer) {
			<article class="operations">
				<header>
					<h3>Opérations</h3>
				</header>
				<nav>
					<a href="@routes.DkpController.createTransaction()">
						<i class="material-icons">compare_arrows</i>
						Nouvelle transaction
					</a>
					<a href="@routes.DkpController.createAccount()">
						<i class="material-icons">account_balance_wallet</i>
						Créer un compte
					</a>
				</nav>
			</article>
		}
	</div>
}
