.class-1 {
  color: #C79C6E;
}

.class-2 {
  color: #F58CBA;
}

.class-3 {
  color: #ABD473;
}

.class-4 {
  color: #FFF569;
}

.class-5 {
  color: #FFFFFF;
}

.class-7 {
  color: #0070DE;
}

.class-8 {
  color: #40C7EB;
}

.class-9 {
  color: #8787ED;
}

.class-11 {
  color: #FF7D0A;
}

.whlink {
	padding-left: 18px;
	color: transparent;
}
